.DS_Store
Spring_Metaservice/.DS_Store
Spring_Metaservice/.mvn/wrapper/maven-wrapper.jar
Spring_Metaservice/.mvn/wrapper/maven-wrapper.properties
Spring_Metaservice/.mvn/wrapper/MavenWrapperDownloader.java
Spring_Metaservice/classes/artifacts/cors_metaservice_jar/cors_metaservice_jar.jar
Spring_Metaservice/src/main/java/META-INF/MANIFEST.MF
Spring_Metaservice/target/.DS_Store
Spring_Metaservice/target/spring-metaservice-0.1.0.jar.original
Spring_Metaservice/target/spring-metaservice.jar
Spring_Metaservice/target/maven-archiver/pom.properties
Spring_Metaservice/target/maven-status/.DS_Store
Spring_Metaservice/target/maven-status/maven-compiler-plugin/.DS_Store
Spring_Metaservice/target/maven-status/maven-compiler-plugin/compile/.DS_Store
Spring_Metaservice/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
Spring_Metaservice/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
Spring_Metaservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
Spring_Metaservice/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
Spring_Metaservice/target/surefire-reports/hello.GreetingControllerTests.txt
Spring_Metaservice/target/surefire-reports/TEST-hello.GreetingControllerTests.xml
React_Frontend/build
React_Frontend/node_modules
React_Frontend/*.env
React_Frontend/public/a.htaccess
Spring_Metaservice/target/test-classes/META-INF/gs-rest-service.kotlin_module
